::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
  }

  .w-full {
    text-align: center;
    justify-content: center;
  }
  
  .bg-black {
    background-color: black;
  }
  .text-white {
    color: white;
  }

.bg-yellow {
  background-color: white;
}
.text-white {
  color: white;
}
  