@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

}

@font-face {
  font-family: 'ActionIs';
  src: url('/fonts/action-is.regular.ttf') format('truetype');
}


.pwagon-font {
  font-family: 'ActionIs', sans-serif !important;
}

/* 
body {
  font-family: 'Oxanium', sans-serif;
} */